node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.agents/
claude_plan/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Paraglide
src/lib/paraglide
project.inlang/cache/
# SQLite
*.db
# Drizzle
drizzle/
.opencode/opencode.json
.opencode/svelte.json
*.md
!README.md
!GUIDE.md